@media screen and (min-width: 300px) and (max-width: 990px) {
    body {
        overflow-x: scroll;
    }

    table td {
        font: normal 12px Arial;
        padding: 3px;
    }

    table th {
        font: normal 14px Arial;
        padding: 3px;
    }

    header {
        flex-direction: column;
    }

    header .slogan {
        font-size: 20px;
    }

    header .nav_text {
        font-size: 15px;
    }

}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin-right: 40px;
    margin-left: 40px;
    overflow-x: scroll;
    background-size: cover;
    background: #161326 url("../img/fon.jpg") no-repeat fixed;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    margin-top: 60px;
    display: flex;
    flex: 0 0 auto;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: rgba(45, 92, 92, 0.24);
    color: whitesmoke;
}

.footer_text {
    color: whitesmoke;
}

/*!*ШАПКА *!*/
header {
    display: flex;
    width: 100%;
    background: rgba(45, 92, 92, 0.84);
    margin-bottom: 20px;
}

.container {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    position: relative;
}

.row {
    float: left;
}
.langOption{
    display: block;
    width: 10%;
    float: right;
    margin-left: 80px;
position: absolute;
    top:20px;
    right: 20px;
}
.langOption select{
    background: rgba(38, 41, 43, 0.54);
    color: whitesmoke;
    width: 55px;
    height: 40px;
    font: 17px Verdana sans-serif bold;
    margin-left: 30%;
    border: none;
    padding: 2px 2px;
}


.logo {
    float: left;
    margin-top: 40px;
    margin-left: 28px;
    display: block;
}

.slogan {
    color: whitesmoke;
    float: left;
    padding: 30px 20px;
    text-align: left;
    text-transform: capitalize;
    font-family: "Lucida Grande", sans-serif;
    font-size: 40px;
}

.slogan p {
    margin: 0;
    color: whitesmoke;
    font-family: "Lucida Grande", sans-serif;
    font-size: 15px;
}






.authorization {
    display: block;
    justify-content: center;
    width: 100%;
}
fieldset {
    display: block;
    max-width: 60%;
    margin: 40px auto 0;
    border-color: transparent;
}

legend { padding-left:50px;
    color: rgba(40, 54, 74, 0.91);
    text-align: center;
    font-family: Microsoft Sans Serif, sans-serif;
    font-size: 1.4em;
}
table.enter {
    table-layout: fixed;
    margin: 0 auto;
    border: transparent;
    width: 100%;
}

.enter td{
    padding: 10px;
    background: none;
    width: 2%;
    border: none;
    text-align: right;
    /*align-items: center;*/
}

.enter td:last-child {
    text-align: left;
}

td label {
    font-style: normal;
    font-size: 20px;
    font-family: Georgia, serif;
    color: rgba(40, 54, 74, 0.91);
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.3);
    border: 1px solid rgba(246, 195, 95, 0.68);
    color: rgba(40, 54, 74, 0.91);
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: rgba(246, 195, 95, 0.68);
}
input[type="submit"]:active{
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    outline: none;
}
input[type="submit"]:focus{
    outline: none;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.7);
    border: 2px solid rgba(246, 195, 95, 0.68);
    width: 200px;
}
input[type="text"], input[type="password"]:valid {
     border: 1px solid green;
 }
input[type="text"], input[type="password"]:invalid {
    border: 1px solid red;
}

div #input_container {
    position:relative;
    padding:0;
    margin:0;
}
#input_container i:before{
    position:absolute;
    top:5px;
    color: rgba(38, 41, 43, 0.64);
    right:35px;
    font-size: 25px;
    width:25px;
    height:25px;
}



p.error, p.done{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgba(214, 83, 83, 0.91);
    color: whitesmoke;
}
p.done{
    background-color: rgba(54, 116, 0, 0.6);
}
