@media screen and (min-width: 300px) and (max-width: 990px) {
    body {
        overflow-x: scroll;
    }

    table td {
        font: normal 12px Arial;
        padding: 3px;
    }

    table th {
        font: normal 14px Arial;
        padding: 3px;
    }

    header {
        flex-direction: column;
    }

    header .slogan {
        font-size: 20px;
    }

    header .nav_text {
        font-size: 15px;
    }

}

/* Переменные с различным цветным оформлением*/
:root {
    --greenStyle: rgba(45, 92, 92, 0.84);
    --orangeStyle: rgba(246, 195, 95, 0.68);
    --blueStyle: rgba(40, 54, 74, 0.91);
    --backgroundTd_white: rgba(255, 238, 214, 0.75);
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: url("../img/fon.jpg") no-repeat fixed;
}

body {
    height: 100%;
    width: 90%;
    margin: 0 5%;
    overflow-x: scroll;
    background-size: cover;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 238, 214, 0.3);
}

.content {
    flex: 1;
}

.footer {
    margin-top: 50px;
    display: flex;
    flex: 0 0 auto;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: rgba(45, 92, 92, 0.24);
    color: whitesmoke;
}


/*!*ШАПКА *!*/
header {
    display: flex;
    width: 100%;
    background: rgba(45, 92, 92, 0.84);
    margin-bottom: 20px;
}

.container {
    width: 100%;
    padding: 3px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    position: relative;
}

.row {
    width: 40%;
    margin-left: 15%;
}

.nav_text {
    position: relative;
    width: 40%;
    float: left;
    font: oblique 16px Century;
}

.hello {
    color: whitesmoke;
    margin-right: 30%;
    font-size: 1.2em;
}

.logo {
    float: left;
    margin-top: 20px;
    margin-left: 18px;
    display: block;
}

.slogan {
    color: whitesmoke;
    float: left;
    padding: 15px 10px;
    text-align: left;
    text-transform: capitalize;
    font-family: "Lucida Grande", sans-serif;
    font-size: 25px;
}

.slogan p {
    margin: 0;
    color: whitesmoke;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
}

div.formLang {
    display: inline-block;
    position: absolute;
    margin-left: 20%;
}

div.formLang form {
    margin-left: 20px;
    float: right;
    display: inline-block;
}

div.langOption {
    display: inline-block;
}

div.langOption select {
    background: rgba(38, 41, 43, 0.54);
    color: whitesmoke;
    width: 55px;
    height: 30px;
    font: 17px Verdana sans-serif bold;
    border: none;
    padding: 2px 2px;
}

button.logout {
    box-sizing: border-box;
    border: none;
    background: none;
    color: rgba(214, 83, 83, 0.91);
    font-size: 30px;
    cursor: pointer;
}

/*КНОПКИ: НАВЕРХ, ДОБАВИТЬ, НАЗАД, ПОДТВЕРДИТЬ*/

div.buttonBoxCrewMan {
    display: inline-block;
    width: 800px;
    margin-left: 10%;
    margin-bottom: 1%;
    float: left;
}

div.buttonBoxCrewMan form {
    display: inline-block;
}

div.downButtons {
    display: inline-block;
    float: right;
    position: relative;
}

.topbutton {
    background: none;
    border: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
    color: #c99089;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.9);
}

a.topbutton i:before {
    font-size: 55px;
}

button.addButton {
    background: none;
    border-radius: 1px;
    border: none;
    height: 65px;
    font-size: 65px;
    position: fixed;
    bottom: 80px;
    right: 145px;
    cursor: pointer;
    color: var(--greenStyle);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);

}
button.addButton:active{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    outline: none;
}

button.addButton:focus{
    outline: none;
}

input[type="submit"].agreeButton, input[type="submit"].backButton{
    background: var(--greenStyle);
    border: 1px solid var(--orangeStyle);
    font-size: 20px;
    font-weight: lighter;
    color: rgba(245, 249, 247, 0.76);
}

input[type="submit"].backButton {
    background: rgba(214, 83, 83, 0.81);
}

/* Стили  Таблиц ВСЕХ по умолчанию */
table {
    font-size: 1.3em;
    font-family: Optima sans-serif;
    font-weight: normal;
    color: #2b2f31;
    border: transparent;
    border-collapse: collapse;
    margin: 0 auto;
    word-break: break-all;
}

thead th {
    background-color: var(--blueStyle);
    padding: 15px 10px 15px 10px;
    color: rgba(245, 245, 245, 0.82);
    text-transform: uppercase;
    font-size: 0.8em;
    position: sticky;
    top: 0;
}

tbody tr:hover {
    background-color: var(--orangeStyle);
}

td {
    border: 1px solid rgba(34, 37, 39, 0.5);
    background: var(--backgroundTd_white);
    padding: 2px 3px;
    font-size: 0.7em;
    text-align: center;
}

td:last-child{
    background-color: rgba(246, 195, 95, 0.7);
}

tbody td:last-child i, tbody td:last-child a{
    font-size: 26px; /*устанавливает размер иконки-картинки */
    text-decoration: none;
    color: var(--blueStyle);
}

h2 {
    word-spacing: 9px;
    letter-spacing: 3px;
    /*Центрирование по вертикали*/
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 22px;
    color: var(--blueStyle);
}




/*Таблицы на страницах со списком*/
table.listStyle {
    width: 68%;
    font-size: 1.5em;
}

table.listStyle thead th{
    font-size: 0.7em;
}
table.listStyle td:nth-child(3){
    width: 20%;
}

/*Таблица список рейсов*/
table.FlightlistStyle {
    word-break: break-word;
    width: 90%;
    font-size: 1.5em;
}

table.FlightlistStyle thead th {
    padding: 9px 9px;
}


/*Таблицы на страницах с добавлением*/
table.addStyle {
    margin-bottom: 5%;
}

table.addStyle tbody td:last-child {
    background: var(--backgroundTd_white);
}

table.addStyle select, table.addStyle input[type="datetime-local"],
table.addStyle input[type="text"] {
    padding: 6px 5px;
    font: 17px Century sans-serif;
}

/*Таблицы на страницах с редактированием*/
table.editStyle {
    margin-bottom: 5.5%;
}

/*кнопка с иконкой удалить*/
button.deleteButton {
    margin: 5px 15px 5px 15px;
    background: none;
    font-size: 26px;
    color: var(--blueStyle);
}

/*Таблица на странице с добавлением экипажа*/
table.crewManListTable {
    width: 48%;
    float: left;
    margin-left: 1%;
    font-size: 1.0em;
}

table.crewManListTable tbody a {
    text-decoration: none;
    color: var(--greenStyle);
    font-size: 18px;
}

table.crewManListTable td {
    font-size: 1.0em;
}

table.flightVsCrewTable {
    width: 48%;

    float: right;
    margin-right: 1%;
    font-size: 1.2em;
    margin-bottom: 8%;

}

table.flightVsCrewTable tbody tr:first-child {
    font-weight: bold;
}

table.flightVsCrewTable tbody td:last-child {
    font-size: 1.0em;
}

table.flightVsCrewTable tbody a {
    text-decoration: none;
    color: var(--greenStyle);
    font-size: 18px;
}

table.flightVsCrewTable thead th {
    background-color: var(--blueStyle);
    font-size: 1.0em;
    padding: 9px 9px;
}

/*Кнопки подтвердить и назад, чтобы внизу юыли*/
div.AgreeBack {
    position: relative;
    width: 48%;
    float: right;
    display: inline-block;
}

div.AgreeBack input.agreeButton{
    bottom: 10%;
    position: fixed;
    right: 22%;
}
div.AgreeBack input.backButton{
    bottom: 3%;
    position: fixed;
    right: 23%;
}

/*Страница с просмотром Экипажа на рейс*/
table.flightCrew {
    width: 70%;
    font-size: 1.3em;
    margin-bottom: 30px;
}

table.flightCrew thead {
    font-size: 1.2em;
    background: var(--blueStyle);
}

table.flightCrew tbody {
    font-size: 1.1em;
}

table.flightCrew tbody td:last-child {
    background: var(--backgroundTd_white);
    font-size: 0.8em;
}

table.flightCrew tbody tr:first-child {
    background-color: var(--orangeStyle);
}


/*Ряд кнопок на страницах со списками*/
.navinput {
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

input.flightList {
    margin-left: 21%;
}

.navinput form {
    display: inline-block;
}

input[type="text"].searchIn {
    padding: 8px;
    border-radius: 5px;
    background-color: var(--backgroundTd_white);
    border: 1px solid #d3c0b3;
    width: 70%;
    /*margin: 0 auto;*/
    font-weight: bold;
    margin-bottom: 1%;
}

/*ОБЩЕЕ ДЛЯ ВСЕХ таблиц*/
input[type="submit"] {
    padding: 10px 10px;
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.3);
    border: 1px solid var(--orangeStyle);
    color: var(--blueStyle);
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: var(--orangeStyle);
    /*border: 1px solid #483524;*/
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
input[type="submit"]:active{
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    outline: none;
}
input[type="submit"]:focus{
    outline: none;
}


input[type="text"], input[type="password"], input[type="email"], input[type="date"],
input[type="datetime-local"], select {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--backgroundTd_white);
    border: 2px solid var(--orangeStyle);
    width: 200px;
    font-size: 1.1em;
}

select {
    background-color: var(--backgroundTd_white);
    font-size: 1.1em;
}


p.error, p.done{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgba(214, 83, 83, 0.91);
    color: whitesmoke;
}
p.done{
    background-color: rgba(54, 116, 0, 0.6);
}


h2.errorH2{
    background-color: rgba(214, 83, 83, 0.91);
    color: whitesmoke;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 18px;
}
.errorTable{
    margin: 0 auto;
}

table.error{
    font-size: 1.5em;
    width:30%;
    float:left;
}

table.error tbody tr:last-child{
    background: #d3c0b3;
    text-align: center;

}

button.errorBackButton{
    padding: 5px 5px;
    border-radius: 5px;
    background: rgba(253, 253, 253, 0.8);
    border: 1px solid var(--orangeStyle);
    color: var(--blueStyle);
    font-weight: bold;
    margin: 10px 10px;}


